Ferreteria2/Ferreteria2/Service References/webservice/EquipoUsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="EquipoUsuarioWS" targetNamespace="http://webservices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://jorgenorza.ga:8080/ProyectoFinalWS/EquipoUsuarioWS?xsd=1" namespace="http://webservices/" />
    </xsd:schema>
  </types>
  <message name="AgregarEquipoUsuario">
    <part name="parameters" element="tns:AgregarEquipoUsuario" />
  </message>
  <message name="AgregarEquipoUsuarioResponse">
    <part name="parameters" element="tns:AgregarEquipoUsuarioResponse" />
  </message>
  <message name="EliminarEquipoUsuario">
    <part name="parameters" element="tns:EliminarEquipoUsuario" />
  </message>
  <message name="EliminarEquipoUsuarioResponse">
    <part name="parameters" element="tns:EliminarEquipoUsuarioResponse" />
  </message>
  <message name="SeleccionarEquipoUsuario">
    <part name="parameters" element="tns:SeleccionarEquipoUsuario" />
  </message>
  <message name="SeleccionarEquipoUsuarioResponse">
    <part name="parameters" element="tns:SeleccionarEquipoUsuarioResponse" />
  </message>
  <message name="ObtenerEquiposDeUsuario">
    <part name="parameters" element="tns:ObtenerEquiposDeUsuario" />
  </message>
  <message name="ObtenerEquiposDeUsuarioResponse">
    <part name="parameters" element="tns:ObtenerEquiposDeUsuarioResponse" />
  </message>
  <message name="ObtenerUsuariosDeEquipo">
    <part name="parameters" element="tns:ObtenerUsuariosDeEquipo" />
  </message>
  <message name="ObtenerUsuariosDeEquipoResponse">
    <part name="parameters" element="tns:ObtenerUsuariosDeEquipoResponse" />
  </message>
  <portType name="EquipoUsuarioWS">
    <operation name="AgregarEquipoUsuario">
      <input wsam:Action="http://webservices/EquipoUsuarioWS/AgregarEquipoUsuarioRequest" message="tns:AgregarEquipoUsuario" />
      <output wsam:Action="http://webservices/EquipoUsuarioWS/AgregarEquipoUsuarioResponse" message="tns:AgregarEquipoUsuarioResponse" />
    </operation>
    <operation name="EliminarEquipoUsuario">
      <input wsam:Action="http://webservices/EquipoUsuarioWS/EliminarEquipoUsuarioRequest" message="tns:EliminarEquipoUsuario" />
      <output wsam:Action="http://webservices/EquipoUsuarioWS/EliminarEquipoUsuarioResponse" message="tns:EliminarEquipoUsuarioResponse" />
    </operation>
    <operation name="SeleccionarEquipoUsuario">
      <input wsam:Action="http://webservices/EquipoUsuarioWS/SeleccionarEquipoUsuarioRequest" message="tns:SeleccionarEquipoUsuario" />
      <output wsam:Action="http://webservices/EquipoUsuarioWS/SeleccionarEquipoUsuarioResponse" message="tns:SeleccionarEquipoUsuarioResponse" />
    </operation>
    <operation name="ObtenerEquiposDeUsuario">
      <input wsam:Action="http://webservices/EquipoUsuarioWS/ObtenerEquiposDeUsuarioRequest" message="tns:ObtenerEquiposDeUsuario" />
      <output wsam:Action="http://webservices/EquipoUsuarioWS/ObtenerEquiposDeUsuarioResponse" message="tns:ObtenerEquiposDeUsuarioResponse" />
    </operation>
    <operation name="ObtenerUsuariosDeEquipo">
      <input wsam:Action="http://webservices/EquipoUsuarioWS/ObtenerUsuariosDeEquipoRequest" message="tns:ObtenerUsuariosDeEquipo" />
      <output wsam:Action="http://webservices/EquipoUsuarioWS/ObtenerUsuariosDeEquipoResponse" message="tns:ObtenerUsuariosDeEquipoResponse" />
    </operation>
  </portType>
  <binding name="EquipoUsuarioWSPortBinding" type="tns:EquipoUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AgregarEquipoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarEquipoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SeleccionarEquipoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerEquiposDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerUsuariosDeEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EquipoUsuarioWS">
    <port name="EquipoUsuarioWSPort" binding="tns:EquipoUsuarioWSPortBinding">
      <soap:address location="http://jorgenorza.ga:8080/ProyectoFinalWS/EquipoUsuarioWS" />
    </port>
  </service>
</definitions>